version: '3.8'

services:
  rabbitmq:
    image: masstransit/rabbitmq
    container_name: rabbitmq
    hostname: "rabbitmq"
    ports:
      - "5672:5672"      # RabbitMQ broker
      - "15672:15672"    # RabbitMQ management UI
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 5s
      timeout: 15s
      retries: 3

  postgres:
    image: postgres
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: mass-transist-poc
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password@123
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
